
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}


.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
}
.timer-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


.track-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}


 /* Make sure the pre tag wraps text */
 .wrap-text {
    white-space: normal; /* Allow wrapping */
    word-wrap: break-word; /* Break long words if necessary */
    overflow-wrap: break-word; /* For more reliable word breaking */
}

/* Optional: Limit the size of the container and make sure it handles overflow */
#aiconversation {
    max-width: 100%; /* Ensure it fits within its container */
    overflow: auto; /* If needed, show scrollbars */
}